{% extends "base.html" %}
{%block title%}Calendar{%endblock%}
{%block content%}

<br>

<div class="card w-75 mx-auto">

    <div class="card-header">
        <h1>Calendar</h1>
    </div>

    <div class="card-body">
        <p><a href="https://calendar.google.com/calendar/b/1/r/week" class="text-secondary">Student Calendar</a></p>
        <br>
        <iframe class="mx-auto" src="https://calendar.google.com/calendar/embed?src=lffeathe%40go.olemiss.edu&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>


</div>


{%endblock%}

