{% extends "base.html" %}

{%block title%}Home{%endblock%}
{%block content%}
    
<br>
<div class="jumbotron bg-white">
    <h1 class="display-4">Dashboard Home</h1>
    <p class="lead">{{landing}}</p>
</div>

<div class="card w-75 mx-auto">
    <div class="card-header">
        <h3>
            Links
        </h3>
    </div>
    <div class="card-body">

        <a class="btn btn-lg btn-info" href="/dashboard/ideas">Ideas  <i class="fa fa-question-circle"></i></a>
        <a class="btn btn-lg btn-warning" href="/dashboard/todos">Todo <i class="fa fa-list-alt"></i></a>
        <a class="btn btn-lg btn-primary" href="/dashboard/todos">Calendar <i class="fa fa-calendar"></i></a>

    </div>
</div>

{%endblock%}